<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VacationApp"
        tools:targetApi="31">
        <activity
            android:name=".UI.Vacation_Lists"
            android:exported="false" />
        <activity
            android:name=".UI.Excursions"
            android:exported="false"
            android:label="Excursions"
            android:parentActivityName=".UI.Vacations" />
        <activity
            android:name=".UI.Vacations"
            android:exported="false"
            android:label="Vacation Scheduler"
            android:parentActivityName=".UI.HomeScreen" />
        <activity
            android:name=".UI.HomeScreen"
            android:exported="true"
            android:label="Home Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>